/* GENERAL STYLING */

*, html {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  text-align: justify;
}

li {
  font-size: 1.5rem;
}

.container {
  height: 90vh;
}

.content {
  width: 85%;
}

/* Navbar styling */

nav {
  background-color: hsl(0, 100%, 22%); 
  color: white;
  position: fixed;
  width: 15%;
  right: 0;
  height: 100vh;
  text-align: right;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  font-size: 1.1rem;
}

nav ul {
  grid-column-start: 2;
  margin: auto;
  width: 100%;
}

nav li {
  margin: 10%;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  border-bottom: 4px gray solid;
}

nav a:focus {
  border-bottom: 4px gray solid;
}

/* Sections 1-6 */

#section1-home header {
  position: absolute;
  top: 20%;
  left: 10%;
  color: hsl(304, 45%, 27%);
  width: 65%;
}

#section1-home header h1 {
  font-size: 5rem;
}

#section1-home header h2 {
  font-family: 'Kalam', cursive;
  text-align: right;
  padding-top: 5%;
  color: hsl(0, 0%, 32%);
}

#section1-home {
  background: /*linear-gradient(rgba(255, 0, 0, 0.45), rgba(150, 45, 150, 0.45)),*/
    url("./img/hero-jess-watters-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

#section2-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 10% 0 10%;
  background-color: hsla(27, 100%, 50%, 0.733);
  color: hsl(0, 0%, 15%);
}

#right {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 32%);
}

#logo {
    width: 100%;
    height: auto;
}

#section3-team {
  background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(150, 45, 150, 0.45)),
    url("./img/teamphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section3-team h2 {
  color: white;
  font-size: 5rem;
  padding-bottom: 10%;
}

.team-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  color: white;
}

#armand-text {
  background-color: hsl(304, 45%, 27%);
}

#nathalie-text {
  background-color: hsl(0, 0%, 32%);
}

#kate-text {
  background-color: hsla(27, 100%, 50%, 0.795);
}

#joe-text {
  background-color: hsl(0, 100%, 22%);
}


#section6-contact {
    height: auto;
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    background:
    linear-gradient(
        rgba(255, 0, 0, 0.45),
        rgba(150, 45, 150, 0.45)
    ),
    url("./img/contactmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* this is only in here to reduce size of team images to make easier to sort grid layout */
img {
  width: 100%;
  height: 100%;
}

.quarters {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

/* CONTACT FORM STYLING */

.form {
  background: hsl(304, 45%, 27%);
  width: 100%;
  height: 90%;
  grid-row-start: 2;
  grid-column-start: 2;
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  border-radius: 2%;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: .7fr .7fr .7fr .7fr 1.6fr .7fr;
  grid-gap: 10px;
  margin: auto;
  color: white;
  padding: 3rem 0 3rem 0;
}

.form header {
  grid-column-start: 2;
}

.form h2 {
  text-align: center;
  color: white;
}

.form p {
  grid-column-start: 2;
  text-align: center;
}

.form input {
  width: 70%;
  border-radius: 10px;
  border: 2px hsl(43, 100%, 52%) solid;
  height: 1.5rem;
  padding: .9rem;
}

.form textarea {
  width: 70%;
  border-radius: 10px;
  border: 2px hsl(43, 100%, 52%) solid;
  height: 5rem;
  padding: .9rem;
}

.form label {
  display: block;
  margin: .4rem;
}


#fullname {
  grid-row-start: 2;
}

#email {
  grid-row-start: 3;
}

#number {
  grid-row-start: 4;
}

#msg {
  grid-row-start: 5;
}

#submit {
  display: block;
  grid-column-start: 2;
  grid-row-start: 6;
  margin: auto;
  border-radius: 10px;
  border: none;
  height: 3rem;
  width: 60%;
  background-color: hsl(43, 100%, 52%);
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: -0.2rem 0.2rem gray;
}

#submit:active {
  background: hsl(43, 92%, 36%);
  box-shadow: 0 0.05rem darkgray;
}

#submit:focus {
  outline: 2px hsl(43, 92%, 36%) solid;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#nathalie-text, #joe-text{
  grid-column-start: 1;
  grid-row-start: 2;
}

#armand {
  background-image: url("img/armand.jpg");
}

#nathalie {
  background-image: url("img/nathalie.jpg");
  grid-column-start: 2;
}

#kate {
  background-image: url("img/kate.jpg");
}

#joe {
  background-image: url("img/joe.jpg");
}



/* Semantics */

.semantic-hide {
    display: none;
}

/* MOBILE STYLES */

@media(max-width: 780px){
  #section1-home header h1 {
    font-size: 3rem;
  }

  #section1-home header h2 {
    line-height: 1.1;
    text-align: left;
  }

}

@media(max-width: 650px){
  .content {
    width: 100%;
  }

  nav {
    display: flex;
    position: fixed;
    height: 10%;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

  }

  nav li {
    margin: 10px;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  nav a:hover {
    border-bottom: 4px gray solid;
  }

  nav a:focus {
    border-bottom: 4px gray solid;
  }

  #section2-about {
    height: auto;
    display: block;
  }

  #right {
    display: none;
  }

  #section4-profiles1 {
    height: auto;
  }

  #section5-profiles2 {
    height: auto;
  }

  .quarters {
    height: 100%;
    width: 100%;
    display: block;
  }

  #armand {
    background-image: url("img/armand.jpg");
    width: 100%;
    height: 30vh;
  }

  #nathalie {
    background-image: url("img/nathalie.jpg");
    grid-column-start: 2;
    width: 100%;
    height: 30vh;
  }

  #kate {
    background-image: url("img/kate.jpg");
    width: 100%;
    height: 30vh;
  }

  #joe {
    background-image: url("img/joe.jpg");
    width: 100%;
    height: 30vh;
  }

  .background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

}

@media(max-width: 415px){

  #section3-team h2 {
    font-size: 3rem;
  }

  #section4-profiles1 h2 {
    line-height: 1;
  }

  #section5-profiles2 h2 {
    line-height: 1;
  }

  #section6-contact {
    height: auto;
    display: block;
    background:
    linear-gradient(
        rgba(255, 0, 0, 0.45),
        rgba(150, 45, 150, 0.45)
    ),
    url("./img/contactmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 0;
  display: grid;
  grid-template-columns: 0.05fr 1fr 0.05fr;
  grid-template-rows: .7fr .7fr .7fr .7fr 1.9fr 1fr 5%;
  grid-gap: 10px;
  margin: auto;
  color: white;
  padding: 3rem 0 3rem 0;
  background: rgba(100, 38, 96, 0.75);
}

.form input {
  width: 90%;
  height: 1rem;
}

.form textarea {
  width: 90%;
}



}


@media(max-width: 321px){
  nav a {
    font-size: 0.9rem;
  }

}

@media(max-height: 412px){
  
  nav ul {
    padding: 0;
    margin: 0;
  }
  
  #armand, #nathalie, #kate, #joe {
    height: 90vh;
  }
  
  #section2-about, #section4-profiles1, #section5-profiles2, #section6-contact {
    height: auto;
  }

}

/*
#skip {

  background-image: url(/img/down.svg);
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background-size: 100px 82px;
  position: fixed;
  bottom: 0;
  left: 0;
    
    

} */