.container {
    display:grid;
   
}

.content {
    width: 85%;
}

/* Navbar styling */

nav {
    background-color: hsl(347, 79%, 43%);
    color: white;
    position: fixed;
    width: 15%;
    right: 0; 
    height: 100vh;
    text-align: right;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    font-size: 1.1rem;
}

nav ul {
    grid-column-start: 2;
    margin: auto;
    width: 100%;
}

nav li {
    margin: 10%;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 4px gray solid;
}

nav a:focus {
    border-bottom: 4px gray solid;
}



/* Full image container CSS */
.full-image  {
    
}

.full-image .hero {
background-image: url("./img/hero-jess-watters-unsplash.jpg");
background-repeat:no-repeat;
background-size:100%;

}

.full-image .team {

}

/* Sections 1-6 */

#section1 {
height: 90vh;
border: 2px solid red;
background-image: url("./img/hero-jess-watters-unsplash.jpg");
background-repeat:no-repeat;
background-size:cover;

}

#section2 {
    height: 90vh;
 border: 2px solid red;
}

#section3 {
    height: 90vh;
    border: 2px solid red;
    background-image: url("./img/teamphoto.jpg");
    background-repeat:no-repeat;
    background-size:100%;
}

#section4 {
    height: 90vh;
    border: 2px solid red;

}

#section5 {
    height: 90vh;
    border: 2px solid red;

}

#section6 {
    height: 90vh;

}

/* this is only in here to reduce size of team images to make easier to sort grid layout */
img {
    height: 500px;
}




.halves {
    border: 2px dotted black;

}

.team-img {
    border: 2px dotted black;
}

.team-text {
    border: 2px dotted black;
}